* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.header {
  font-weight: bold;
}

.footer {
  font-weight: bold;
}

.displayed {
  display: block;
}

.notDisplayed {
  display: none;
}
